@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Playwrite+HU:wght@100..400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(#3F3F3F, #000);
  user-select: none;
  flex-direction: column;
  -webkit-user-drag: none;
}

#time:before,
#time:after {
  content: '';
  position: absolute;
  width: 101%;
  height: 101%;
  border-radius: 50%;
  background: linear-gradient(90deg, red, blue, green, yellow, red, blue, green, yellow, red);
  z-index: -1;
  background-size: 200%;
  animation: gradient 10s infinite linear;
}

#time:after {
  filter: blur(30px);
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 0;
  }
}


#time .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#time .circle svg {
  position: relative;
  transform: rotate(-90deg);
}

#time .circle:nth-child(1) svg,
.sec_dot {
  width: 80%;
  height: 80%;

}

#time .circle:nth-child(2) svg,
.min_dot {
  width: 70%;
  height: 70%;

}

#time .circle:nth-child(3) svg,
.hr_dot {
  width: 60%;
  height: 60%;

}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--clr);
  stroke-width: calc(var(--s)*.016);
  opacity: 0.4;
  stroke-linecap: round;
}

.dots {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.dots::before {
  content: '';
  position: absolute;
  width: calc(var(--s) * 0.034);
  height: calc(var(--s) * 0.034);
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 40px var(--clr), 0 0 30px var(--clr), 0 0 20px var(--clr), 0 0 10px var(--clr);
}

.tmbx {
  position: relative;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: calc(var(--s)*.06);
  font-weight: bold;
}


.tmbx #hr::after,
.tmbx #min::after {
  content: ':';
  position: absolute;
} .tmbx div {color: var(--c); text-shadow: 0 0 10px var(--c), 0 0 20px var(--c);
  margin: calc(var(--s)*.02);
  font-family: monospace;
}

.ap {
  position: absolute;
  transform: translate(calc(var(--s)*.18), 0);
  font-size: calc(var(--s)*.03);
}

#cl,
#cr {
  position: absolute;
  font-size: calc(var(--s)*.04);
}

#cl {
  color: #FF871D;
  text-shadow: 0 0 10px #FF871D, 0 0 12px #FF871D;
  font-family: monospace;
  translate: 0 -300%;
}

#cr {
  font-family: cursive;
  translate: 0 250%;
  color: #38E8FF;
  text-shadow: 0 0 10px #38A6FF, 0 0 12px #38A6FF;
}


#subs {
  background: #FF595959;
  padding: 0 8px;
  border-radius: 10px;
  box-shadow: 0 0 15px -8px #FFFFFF;
}


:root {
  --s: 65vw;
}

img {
  pointer-events: none;
}


#team_img {
  position: absolute;
  width: calc(var(--s)*1.4);
  transform: translate(-13.5%, -27%)
}


#team {
  position: relative;
}

h1 {
  margin: 0 0 calc(var(--s)*.08) 0;
  font-family: "Emblema One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 5px white;
  font-size: calc(var(--s)*.08);

}

#a {
  text-shadow: 2px 2px 5px green
}

#b {
  text-shadow: 2px 2px 5px blue
}

#c {
  text-shadow: 2px 2px 5px red
}

#d,
h1 i {
  text-shadow: 2px 2px 5px gold;
}

#f {
  font-size: calc(var(--s)*.1);

}

#e {
  text-shadow: 2px 2px 5px #FF952F
}

#sub-para {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0 0 6px #666;
  font-size: calc(var(--s)*.05);
}

a{
  text-decoration: none;  
  color: #fff;
}

#sub-para i {
  text-shadow: 0 0 10px #FF2F2F4F;
}

#bottom {
  position: absolute;
  color: white;
  text-align: center;
  width: calc(var(--s)*1.3);
  left: 50%;
  translate: -50%;
  top: 120%;
}


#time {
  position: relative;
  min-width: var(--s);
  min-height: var(--s);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 0 0 10px 5px #5CC5B3;
  background: #111;
  background-image: url('pv.webp');
  background-size: cover;
}

.img {
  position: absolute;
  width: calc(var(--s)*1.5);
  top: -70%;
  left: 50%;
  translate: -50%;
}

@media (min-aspect-ratio: 1.4) {
  :root {
    --s: 28vw!important
  }

  #time,
  #team_img {
    left: 80%;
    top: 8vh;
  }

  #bottom {
    top: 30vh;
    left: -85%;
    translate: 0;
  }


  .img {
    width: calc(var(--s)*1.6);
    translate: 0;
    top: 5vh;
    left: -105%;

  }
}

@media (min-aspect-ratio: 2){
  :root{
    --s: 56vh!important;
  }
}

@media (min-aspect-ratio: .625) {
  :root{
    --s:40vh;
  }
}
